<!DOCTYPE html>
<html>
<head>
	<title>Layout</title>
</head>
<body>
<table border="1" cellspacing="0" width="700" align="center">
	<tr>
		<td width="130px" height="130px">
			<img src="file:///D|gambar/logo SI.jpg" width="130px" height="130px">
		</td>
		<td colspan="2" width="500px" height="100px"><h1 align="center">SISTEM INFORMASI</h1></td>
		<tr>
			<td colspan="3" bgcolor="lightblue">
			<center>
			<a href="home.html">Home</a> |
			<a href="profile.html">Profile</a> |
			<a href="">Fakultas</a> |
			<a href="aboutme.html">About Me</a> |
			</center>
			</td>
		</tr>
	</tr>
	<tr>
		<td colspan="3" width="500px" height="500px">
			<h1 align="center">About Me</h1>
			<pre>
<font size="6">NAMA                : Muhammad Jefry Purnomo</font>
<font size="6">Tempat/Tanggal Lahir: Sampang, 10 Februari 2001</font>
<font size="6">Alamat              : Dsn. Laodan Ds. Omben Kec. Omben Kab. Sampang Madura</font>
<font size="6">Gol. Darah          : B</font>
<font size="6">Hobby               : Bermain Badminton</font>
<font size="6">Cita-cita           : Polisi</font>
<font size="6">Kewarganegaraan     : Indonesia</font>
<font size="6">Status Pendidikan   : Mahasiswa</font>
<font size="6">NIM                 : 20510010</font>
</pre>
	</tr>
	<tr>
		<td colspan="3" bgcolor="lightblue" align="center">Muhammad Jefry Purnomo@copyright2020</td>
	</tr>
		

</table>
</body>
</html>