<!DOCTYPE html>
<html>
<head>
	<title>Layout</title>
</head>
<body>
<table border="1" cellspacing="0" width="700" align="center">
	<tr>
		<td width="130px" height="130px">
			<img src="file:///D|gambar/logo SI.jpg" width="130px" height="130px">
		</td>
		<td colspan="2" width="500px" height="100px"><h1 align="center">SISTEM INFORMASI</h1></td>
		<tr>
			<td colspan="3" bgcolor="lightblue">
			<center>
			<a href="home.html">Home</a> |
			<a href="profile.html">Profile</a> |
			<a href="">Fakultas</a> |
			<a href="aboutme.html">About Me</a> |
			</center>
			</td>
		</tr>
	</tr>
	<tr>
		<td colspan="3" width="600px" height="300px">
			<marquee scrolldelay="5" style="color:green">
			<h1 align="center">Welcome to my content website</h1>
			</marquee>
	</tr>
	<tr>
		<td colspan="3" bgcolor="lightblue" align="center">Muhammad Jefry Purnomo@copyright2020</td>
	</tr>
		

</table>
</body>
</html>