<!DOCTYPE html>
<html>
<head>
	<title>Layout</title>
	<style type="text/css">
		.right {text-align: right;}
	</style>
</head>
<body>
<table border="1" cellspacing="0" width="700" align="center">
	<tr>
		<td width="130px" height="130px">
			<img src="file:///D|gambar/logo SI.jpg" width="130px" height="130px">
		</td>
		<td colspan="2" width="500px" height="100px"><h1 align="center">SISTEM INFORMASI</h1></td>
		<tr>
			<td colspan="3" bgcolor="lightblue">
			<center>
			<a href="home.html">Home</a> |
			<a href="profile.html">Profile</a> |
			<a href="">Fakultas</a> |
			<a href="aboutme.html">About Me</a> |
			</center>
			</td>
		</tr>
	</tr>
	<tr>
		<td colspan="3" width="600px" height="300px">
			<p style="text-indent: 45px">
				<img src="file:///D|gambar/SI1.jpg" style="margin:0 8px 4px 0" align="left" width="300" height="150">
				<font size="4">Lingkup sistem informasi pada perusahaan menyangkut pengumpulan data transaksi harian, pengolahan, membantu operasional perusahaan, merumuskan metode yang akan dipakai, dan menginformasikan temuan hasil olah data yang dilakukan kepada pihak-pihak yang membutuhkan.</font>
			</p>
			<br>
			<p style="text-indent: 45px" class="right">
				<img src="file:///D|gambar/SI2.jpg" style="margin:8px" align="right" width="300px" height="150">
				<font size="4">Sistem informasi dapat dianggap sebagai bahasa semi formal yang mendukung manusia dalam pengambilan keputusan dan tindakan. Sedangkan cakupan sistem informasi meliputi: Sistem informasi manufaktur, sistem informasi pemasaran,sistem informasi akuntansi, sistem informasi keuangan.</font>
			</p>
	</tr>
	<tr>
		<td colspan="3" bgcolor="lightblue" align="center">Muhammad Jefry Purnomo@copyright2020</td>
	</tr>
		

</table>
</body>
</html>